{% extends 'base.html' %}

{% block content %}
        {% if form.instance.id %}
        <h1>{{form.instance.endereco_formatado}}</h1>
        {% else %}
        <h1>Novo Imóvel</h1>
        {% endif %}
        <form method="POST" enctype="multipart/form-data" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-success">Guardar</button>
    	</form>

    	{% if form.instance.id %}
    	<form method="POST" action="{% url 'imoveis:remover' form.instance.id %}" enctype="multipart/form-data" class="post-form">
    	{% csrf_token %}
        <button type="submit" class="save btn btn-danger">Remover Anúncio</button>
        </form>
        {% endif %}

{% endblock content %}